# PYTHON

In [1]:
##STRING FORMATERS

a=10;
a1='bharath'

print("the roll no is {a} and name is {a1}".format(a=10,a1='bharath'))
print("the roll no is {0} and name is {1}".format(a,a1))
print(f"its {a1}")
print("i love%s and %s"%(a,a1))

the roll no is 10 and name is bharath
the roll no is 10 and name is bharath
its bharath
i love10 and bharath

In [2]:
##DOCUMENTAION STRING

##First statement in a module,class,function and method explain what it does

def add(a,b):
    """
    return (a+b)
    """
add(56,98)

In [3]:
##TO ACCESS A DOCSTRING
add.__doc__

'\n    return (a+b)\n    '

In [4]:
##VARIABLES DEFINED WTHIN FUNCTION CANNOT BE RETRIEVED AS DEFINED VARIABLE
a =10
def func():
    b=23
    print(a)
    print(b)

In [5]:
func()

10
23

In [6]:
def func(b=0):
    b=23
    print(b)

In [7]:
def red():
    a=1
    def blue():
            b=2
            print(a)
            print(b)
    blue()        
    print(a)

In [8]:
red()

1
2
1

In [9]:
##WITHOUT DEFINED A AS A GLOBAL VARIABLE WIHIN FUNCTION
a=1
def counter():
    a=2
    return(a)

In [10]:
counter()

2

In [11]:
a

1

In [12]:
#DEFINING A AS A GLOBAL VARIABLE
a=1
def counter():
    global a
    a=8
    return(a)

In [13]:
counter()

8

In [14]:
a

8

In [15]:
def red():
    a=1
    def blue():
            b=2
            print(a)
            print(b)
    blue()        
    print(a)

In [16]:
red()

1
2
1

In [17]:
##VARIBALE USED AS NON LOCAL
def red():
    a=1
    def blue():
            nonlocal a
            a =2      
            b=2
            print(a)
            print(b)
    blue()        
    print(a)

In [18]:
red()

2
2
2

In [19]:
##MEMBERSHIP OPERATORS(check if it is available)
"""in 
not in"""
##IDENTITY OPERATORS(check whether they are same)
"""is 
is not"""
##BITWISE OPERATOR(operating on values byte by byte)
"""BINARY AND(&)
BINARY OR(|)
BINARY XOR(^)
BINARY ONE COMPLEMENT(~)
BINARY LEFT SHIF(<<)
BINARY RIGHT SHIFT(>>)"""

print(4 and 6)
print(4&6)
print(6|4)
print(6^4)
print(~67)
print(3<<2)
print(3>>2)

6
4
6
2
-68
12
0

In [20]:
##TO REMOVE VOWWLS IN A STRING

def vowels(string):
    s=''
    for letters in string:
        if letters not in ['a','e','i','o','u']:
            s=s+letters
            print(s)

In [21]:
vowels('bharath is a cricketor')

b
bh
bhr
bhrt
bhrth
bhrth
bhrth s
bhrth s
bhrth s
bhrth s  c
bhrth s  cr
bhrth s  crc
bhrth s  crck
bhrth s  crckt
bhrth s  crcktr

In [22]:
##VOLUME OF A SPHERE
import math
def sphere(radius):
    return round(4/3*math.pi*radius**3,2)

In [23]:
sphere(4)

268.08

In [2]:
##VALAUT PASSWORD SETUP

def pasword(password):
    if len(password)<6 or len(password)>12:return False
    if not(any(i.isdigit() for i in password)):return False
    if not (any(i in '@#&' for i in password)):return False
    return True

In [3]:
pasword('bharath4#')

True

In [26]:
pasword('bharath#')

False

In [27]:
pasword('bharath@123')

True

In [28]:
##GREATEST NO IN THE LIST
ls =[3,78,56,34,2,89,56,53,874,345,213,45]
def great(ls):
    n=0
    for i in ls:
        if i>n:
            n=i
    return n

In [29]:
great(ls)

874

In [30]:
##TERNARY OPERATORS-they reduce code size and easy readability
two=2
three=3
print("two" if two>three else'three')

##modern sum
def modern_sum(a,b):
    return 100 if(a+b>9 and a+b<18) else (a+b)
print(modern_sum(7,6))
print(modern_sum(18,56))

three
100
74

In [31]:
def fun():
    for i in range(1,100):
        if i%3==0:
            print("fizz",i)
            if i%5==0:
                print('buzz',i)
                if i%(3 and 5)==0:
                    print('fizbuzz',i)

In [32]:
fun()

fizz 3
fizz 6
fizz 9
fizz 12
fizz 15
buzz 15
fizbuzz 15
fizz 18
fizz 21
fizz 24
fizz 27
fizz 30
buzz 30
fizbuzz 30
fizz 33
fizz 36
fizz 39
fizz 42
fizz 45
buzz 45
fizbuzz 45
fizz 48
fizz 51
fizz 54
fizz 57
fizz 60
buzz 60
fizbuzz 60
fizz 63
fizz 66
fizz 69
fizz 72
fizz 75
buzz 75
fizbuzz 75
fizz 78
fizz 81
fizz 84
fizz 87
fizz 90
buzz 90
fizbuzz 90
fizz 93
fizz 96
fizz 99

In [33]:
i=0
while i<10:
    i=i+1
    print(i)
else:
    print('loop terminates')

1
2
3
4
5
6
7
8
9
10
loop terminates

In [34]:
for i in range(1,10):
    i=i*i
    print(i)

1
4
9
16
25
36
49
64
81

In [35]:
for row in range(5):
    for star in range(row+1):
        print('*',end='')
    print(star)

*0
**1
***2
****3
*****4

In [36]:
##CONTINUE STATEMENT
for i in range(10):
    if i ==6:
        continue
    print(i)

0
1
2
3
4
5
7
8
9

In [37]:
##BREAK STATEMENT
for i in range(10):
    if i ==6:
        break
    print(i)

0
1
2
3
4
5

In [38]:
bin(9)

'0b1001'

# STRINGS

In [39]:
a ='bharath is a professional cricketor'
print(a)
print(a[3])
print(a[-4:])

bharath is a professional cricketor
r
etor

In [40]:
##REVERSE A STRING
def reverse(a):
    return(a[::-1])

In [41]:
reverse(a)

'rotekcirc lanoisseforp a si htarahb'

In [42]:
##TO CHECK FOR PALINDRONE
n ='232'
def is_palindrone(n):
    return str(n)==str(n[::-1])

In [43]:
is_palindrone(n)

True

In [44]:
## TO JOIN THE STRINGS WITH REQUIRED CHARACTER
n=['one','two','three']
n1= '#' .join(n)
print(n1)

one#two#three

In [45]:
##TO ADD WORDS IN STRINGS
b='bana'
b='bana'+'na'*2
print(b)

bananana

In [46]:
##TO CHECK WHETHER THE GIVEN WORD IS ISOGRAM

def isogram(words):
    for word in words:
        if words.count(word)>1and word.isalpha():
            return False
        return True

In [47]:
print(isogram('rajaraja'))
print(isogram('bharathraj'))

False
True

# LIST

In [48]:
ls=[1,4,6,8,98,45,87]
ls

[1, 4, 6, 8, 98, 45, 87]

In [49]:
##INDEXING
print(ls[4])
print(ls[3:])
print(ls[2:5])
print(ls[-1])
print(ls[-1:])
print(ls[:-1])
print(ls[-5:-2])

98
[8, 98, 45, 87]
[6, 8, 98]
87
[87]
[1, 4, 6, 8, 98, 45]
[6, 8, 98]

In [50]:
##BUILT IN FUNCTIONS
print(sum(ls))
print(max(ls))
print(min(ls))

249
98
1

In [51]:
##ADD ELEMENTS IN A LIST
ls.append(567)
print(ls)

[1, 4, 6, 8, 98, 45, 87, 567]

In [52]:
##REMOVE ELEMENT IN A STRING
ls.remove(567)
ls

[1, 4, 6, 8, 98, 45, 87]

In [53]:
##INSERT AT A SPECIFIED INDEX
ls.insert(2,32)
ls

[1, 4, 32, 6, 8, 98, 45, 87]

In [54]:
##USED TO REMOVE PARTICULAR INDEX 
ls.pop(2)

32

In [55]:
ls

[1, 4, 6, 8, 98, 45, 87]

In [56]:
a =['bharath','raj','vetrivel','pandi']
a[0]='eswar'
print(a)

['eswar', 'raj', 'vetrivel', 'pandi']

In [57]:
del a[1]
print(a)

['eswar', 'vetrivel', 'pandi']

In [58]:
##EMPTIES THE LIST
a.clear()
print(a)

[]

In [59]:
##RETURN THE NO OF PARTICULER ELEMENTS IN LIST
ls.count(567)

0

In [60]:
##USED TO GET THE INDEX VALUE OF A PARTICULAR ELEMENT
ls.index(87)

6

In [61]:
##SORT THE ORDER
ls.sort()
ls

[1, 4, 6, 8, 45, 87, 98]

In [62]:
##REVERSE THE ORDER
ls.reverse()
ls

[98, 87, 45, 8, 6, 4, 1]

In [63]:
a=['bharath','raj']
a

['bharath', 'raj']

In [64]:
def reverse(w):
    return'' .join(str(w))

In [65]:
reverse('bharath raj')

'bharath raj'

In [66]:
##LIST COMPREHENSION

fruits=['banana','apple','mango','arange','pumpkin']
newlist=[x for x in fruits if 'a'in x]
print(newlist)

['banana', 'apple', 'mango', 'arange']

In [67]:
##ARRAY MODULE
##IT IS A COLLECTION OF TYPE OF VALUES AND DURING CREATION WE HAVE TO GIVE THE TYPE OF A VALUE IT SHALL HOLD
##CHARACTERISTICS ARE SAME AS LIST
import array
arr =array.array('i',[1,4,5,6])

In [68]:
print(arr)
arr.typecode

array('i', [1, 4, 5, 6])

'i'

In [69]:
##TUPLES
##TUPLES ARE LIKE IMMUTABLE LIST
tu=(1,5,6)
print(tu)

(1, 5, 6)

In [70]:
tu1=1,4,'bharath'
print(tu1)

(1, 4, 'bharath')

In [71]:
##one cannot delete a particular item in a tuple but able to delete entire tuple
##one cannot reasign values in tuple but u can reassign values mutable item in tuple
tu2=(2,5,6,[5,7,8])
print(tu2)
tu2[3][1]=12
print(tu2)

(2, 5, 6, [5, 7, 8])
(2, 5, 6, [5, 12, 8])

# ZIP FUNCTION

In [72]:
##BUILT IN FUNCION THAT RETURNS A ZIP OBJECT
##IT PAIRS CORRESPONDING ELEMENT FROM EVERY ARGUMENT AND STOPS WHEN THE SHORTEST ARGUMENT GETS EXHAUSTED
for item in zip([1,2,3],['green','yellow','orange']):
    print(item)

(1, 'green')
(2, 'yellow')
(3, 'orange')

In [73]:
##SLICING
##slice(start,stop,step)
sl=[1,5,8,3,98,45]
sl[slice(1,5,2)]

[5, 3]

### BINARY SEQUENCE TYPES

In [74]:
#BYTES AND BYTEARRAY ARE BUILT IN TYPES THAT HELP MANIPULATE BINARY DATA

#MEMORY VIEW USES BUFFER PROTOCAL TO ACCESS MEMORY OF OTHER BINARY OBJECTS WITHOUT NEED TO RELICATE THEM
(#buffer protocal allows one object access another internal data without intermediate copying )
###SYNTAX-memoryview(obj)

##BYTE OBJECT ARE IMMUTABLE SEQUENCE OF SINGLE BYTES(RANGING FROM 0 TO 256)
####SYNTAX- bytes([source[,encoding[,errors]]])

##BYTEARRAY ARE IMMUTABLE(O TO 256)
##SYNTAX- bytes([source[,encoding[,errors]]])

SyntaxError: unexpected EOF while parsing (1210002244.py, line 11)

# DICINARIES

In [ ]:
##DICTIONARY IS A KEY VALUE PAIR
##IT DOESNOT HOLD DUPLICATE KEYS
##KEYS CANT BE MUTABLE BUT DICTIONARY IS MUTABLE

In [ ]:
dic=dict()
dic[1]='bharath'
dic[2]='raj'
dic[3]='vetrivel'
print(dic)
##GET USED TO GET THE VALUE OF KEY STORED IN A DICTIONARY
print(dic.get(2))
##ADD VALUES IN DICTIONARY
dic[4]='puyal boopathi'
print(dic)
##EDIT VALUES IN DICTIONARY
dic[4]='boopati'
print(dic)
##BUILT IN METHODS
print(dic.keys())
print(dic.values())
print(dic.items())
dic1=dic.copy()
print(dic1)
dic3={1:'gopal',2:'raj'}

In [ ]:
##CREATE A NEW DICTINARY FROM THE KEYS OF EXISTING ONE
dic1.fromkeys({1,2,3,4},'bharath')

##UPDATE A DICTIONARY WITH ALL THE VALUES FROM BOTH DICTIONARIES(COMMON VALUES IS ONCE TAKEN)
dic1.update(dic3)
print(dic1)

# SET

In [ ]:
##COLLECTION OF UNIQUE VALUES AND DOESNOT SUPPORT INDEXING
##SET IS MUTABLE BUT CANNOT HOLD MUTABLE ITEMS LIKE LIST AND DICTIONARIES OR EVEN OTHER SET
set1={1,2,3}
set2={3,4,5}
set3={5,6,7}
##UNION
print(set1)
print(set2)
print(set3)

In [ ]:
##UNION(REURNS ALL ELEMENTS)
set1.union(set2)

In [ ]:
##INTERSECTION(RETURNS COMMON ELEMENTS)
set1.intersection(set2)

In [ ]:
##DIFFERENCE
print(set1.difference(set2))
print(set3.difference(set2,set1))

In [ ]:
set1.difference(set3)

In [ ]:
##SYMMETRIC DIFFERENCE(RETURNS ALL ELEMENT THAT ARE UNIQUE TO EACH SET)
set1.symmetric_difference(set2)

In [ ]:
##COPY THE SET
set4=set1.copy()
print(set4)

In [ ]:
##REURNS TRUE IF TWO SETS HAVE NULL INTERSECTION
{1,2,3}.isdisjoint({5,6,7})

In [ ]:
##ISSUBSET
set1.issubset(set2)

In [ ]:
##IS SUPERSET
set5=set1,set2
print(set5)

In [ ]:
{1,2,3,4}.issuperset({1,3})

In [ ]:
##TO REMOVE ITEMS IN A SET
set1.discard(2)
print(set1)

In [ ]:
set2.discard(5)
print(set2)

In [ ]:
2**2**3

# FUNCTIONS

In [ ]:
##CODE REUSABILITY
##MAY RETURN A VALUE
def func(a,b):
    return(a+b)
    print("no arguments given")

In [ ]:
func(2,8)

In [ ]:
##LAMBDA FUNCTIONS
##FUNCTIONS WITHOUT A NAME
##LAMBDA IS USED WHEN U WANT TO EXECUTE ONLY ONE STATEMENT OR WANT TO EXECUTE FUNCTION ONLY ONCE
##OR WHEN U NEED TO PASS FNCTION TO OTHER FUNCTIONS
a,b=56,98
y =lambda:a+b
print(y)

In [ ]:
y()

In [ ]:
##BUILT IN LAMBDA FUNCTIONS(FILTER,MAP AND REDUCE)

##FILTER(TAKES TWO PARAMETER LIST AND A FUNCTION AND FILTER THE ELEMENTS THAT DONT SATISY CONDTIONS)
numbers=[1,2,43,56,76,43,31,49]
list(filter(lambda x:x%2==0,numbers))

In [ ]:
##MAP(TAKES TWO PARAMETER LIST AND A FUNCTION AND RETURN VALUE FOR EACH EXPRESSION)
numbers=[1,2,43,56,76,43,31,49]
list(map(lambda x:x%2==0,numbers))

In [ ]:
##REDUCE(TAKES TWO PARAMETER LIST AND A FUNCTION AND PERFORM COMPUTATION ON SEQUENTIAL PAIRS AND RESULTS ONE OUTPUT)
from functools import reduce
numbers=[0,1,2,3,4,56,7,8,9]
reduce(lambda x,y:x+y,numbers)

In [ ]:
def double_triple(mylist):
    return list(map(lambda x:x*2 if x%2==0 else x*3,mylist))

In [ ]:
double_triple([1,2,3,4,5,6])

In [ ]:
##USED WHEN N NO OF INPUTS NEED TO GIVEN(*args uses tuple)
def add(*args):
    return sum(args)

In [ ]:
add(2,3,8,34,78)

In [ ]:
##**kwargs uses dictionary
def dic(**kwargs):
    for i,j in kwargs.items():
        print(f"{i}:{j}")

In [ ]:
dic(milk=16,cheese=17)

In [ ]:
##RECURSIVE FUNCTION
##FUNCTION CALL ITSELF 
##IT IS USED WHEN SAME FUNCTION TO BE EXECUTED WITH DIFFERNT VALUES IN A SEQUENCE
def factorial(num):
        if num==1:return 1
        return num*factorial(num-1)

In [ ]:
factorial(7)

In [ ]:
##RANGE FUNCTION(n-1)
range(12)
print(list(range(12)))

In [ ]:
##DECORATOR
##A FUNCTION THAT ADD FUNCTIONALITY TO ANOTHER BUT DOESNOT MODIFYIT
##A PART OF PROGRAM MODIFIES OTHER AT COMPILER TIME

def one(a):
    def two():
        print(a)
    return two()

In [ ]:
one(56)

# MODULES

In [ ]:
##A FILE HOLDING STATEMENTS AND DEFINITIONS GOOD FOR STORING SIMILAR CODES IN ONE PLACE AND CAN BE REUSED
##dir() - RETURNS A SORTED LIST OF ALL THE NAMES A MODULES DEFINE

In [ ]:
##COUNTER MODULE

#KEEPS COUNT NO OF TIMES A VALUE APPEARS IN A CONTAINER WHICH STORES ELEMENTS AS DICTIONARY KEYS AND COUNT AS VALUES
from collections import Counter
count=Counter(['a','b','c','d','a','a','c'])
print(count)

In [ ]:
##DEFAULTDIC(RETURNS A DEFAULT VALUE WHEN NO KEY VALUE PAIRS FOUND)
from collections import defaultdict
def default():
    return 42
mydic=defaultdict(default)
mydic[1]='bharath'
mydic[2]='raj'

In [ ]:
print(mydic[1])
print(mydic[4])

In [ ]:
#ORDEREDDICT(A DATA TYPE IN WHICH KEYS ARE MUTABLE)
from collections import OrderedDict
print(mydic)
mydic=OrderedDict()

In [ ]:
mydic[2]='vetrivel'

In [ ]:
print(mydic)

In [ ]:
import math
print(math.factorial(5))
print(math.ceil(3.4))
print(math.pi)
print(math.exp(3))
print(math.sin(90))

# PYTHON SYS MODULE

In [ ]:
##TO ACCESS SYSTEM SPECIFIC PARAMETER AND FUNCTION
import sys

# PACKAGES

In [ ]:
##AS PROGRAM GETS LARGER AND LARGER WE DIVIDE THEM INTO PACKAGES
##IN PACKAGES WE CAN ABLE TO PUT SIMILAR MODULES,ASLO ABLE TO PUT PACKAGE IN A PACKAGE
##PREVENT COLLISION BETWEEN MODULES WITH THE SAME NAME

#__init__.py -structure of a package
#.py -structure of a module

In [ ]:
pip list

In [ ]:
##MODULE VS PACAKAGE
#Module is a file that holds python code while package is a directory that holds subackages and module
##Package need __init__.py while module deosnt
##In module * import everything while in package * import only immediate modules

# REGULAR EXPRESSION

In [ ]:
##A REGULAR EXPRESSION IS A SEQUENCE OF CHARACTER THAT DEFINES A SEARCH PATTERN(USED TO FIND AND REPLACE)
##A REGEX HAS A REGULAR CHARACTER AND METACHARACTER
##A REGULAR CHARACTER MATCHES ITSELF WHILE META CHARACTER HAS A SPECIAL MEANING TO ITSELF

In [ ]:
##match
#TAKES A PATTERN AND STRING AND RETRUNS TRUE IF THEY MATCHES OR ELSE NONE
import re
print(re.match('bharath','bharath'))
print(re.match('bharath','bharat'))

In [ ]:
##search
#SEARCH CHECK IT FOR ANYWHERE
print(re.search('ara','bharath'))
print(re.search('art','bharath'))

In [ ]:
##find all is used to find all the available similar patterns
##sub() function replaces part of string with the another
print(re.sub('an{0,1}[\s]','the','a apple,an apple'))

# DATE AND TIME

In [ ]:
import time
import calendar
print(time.localtime())
print(time.asctime())
print(time.ctime())
print(time.time())
print(time.gmtime())
print(time.tzname)
print(calendar.month(2023,3))

# NAMESPACE

In [ ]:
##A COLLECTION OF NAMES,MAPPING OF NAMES TO CORRESPONDING OBJECTS IMPLEMENTED AS A DICTIONARY
#FUNCTIONS - LOCAL NAMESPACE
#MODULES- GLOBAL NAMESPCAE
#BUILT IN NAMESAPCE
##VARIABLE SCOPE IS A PART OF CODE WHERE ITS VISIBLE

In [ ]:
a=1
def one():
    b=3
    print(b)
    print(a)

In [ ]:
one()

In [ ]:
a=1
def one():
    b=3
    a=3
    print(a)
    print(b)

In [ ]:
one()

In [ ]:
a=1
def red():
    b=3
    def blue():
        
        a=3
        b=4
        c=4
        print(a)
        print(b)
        print(c)
    blue()    
    print(a)

In [ ]:
red()

In [ ]:
a=1
def red():
    b=3
    def blue():
        global a
        nonlocal b
        a=3
        b=4
        c=4
        print(a)
        print(b)
        print(c)
    blue()    
    print(a)
    print(b)

In [ ]:
red()

In [ ]:
##VIRTUAL ENVIRONMENT IS A SELF CONTAINED DIRECTORY TREE WITH A PYTHON INSTALLATION FOR SPECIFIC VERSION
#IT HAS NUMEROUS ADDITIONAL PACKAGES
##BY THIS WAY DIFFERENT APPLICATION CAN RUN DIFFERENT LIBRARIES AND IT RESOLVES PERMISSION ISSUE AND PREVENT GLOBALIZATION
##THE PURPOSE OF VE IS TO PROVIDE ISOLATED WORKING ENVIRONMENT
##activate.bat is used to activate the environment

In [ ]:
##DATETIME MODULE(MODULE WITH CLASSES FOR MANIPULATE DATE AND TIME)
##NAIVE OBJECT - ARE EASIER TO DEAL WITH THEY DONT HAVE ENOUGH INFORMATION TO LOCATE THEMSELVES WITH OTHER OBJECT
##AWARE OBJECT - MORE REALIBLE THEY KNOW APPLICABLE ALGORITHM AND POLITICAL TIME ADJUSTMENT

##DATETIME CLASS TYPES(date -naive dates)(time-idealized time)(date and time-date and time)
#(timedelta -difference btwn two dates/time)(tzinfo -timezone information)(timezone-offset from utc)

print(date.today() date
print(date.today())
print(date.today().month)
print(date.today().weekday())

In [ ]:
##11/3/2023
from datetime import timedelta
from datetime import time
print(date.today()-timedelta(8))
print(time.max)
print(time.min)

In [ ]:
##AGE CALCULATOR
from datetime import date
def age_calculator(birthdate):
    today=date.today()
    year,month,day=birthdate.split('/')
    birthdate=date(int(year),int(month),int(day))
    return str(today.year -birthdate.year-((today.month,today.day)<(birthdate.month,birthdate.day)))+'Years'

In [ ]:
age_calculator('1995/5/31')

In [ ]:
from datetime import datetime
datetime.month

In [ ]:
##DEEP COPY AND SHALLOW COPY

##SHALLOW COPY(ANY CHANGES IN THE COPIED OBJECT MAKE CHANGES IN THE ORIGINAL OBJECT AS WELL)

from copy import copy
list1=[1,[3,4]]
list2=copy(list1)
print(list2)

list2[1][1]=8
print(list1)
print(list2)

In [ ]:
##DEEPCOPY (ANY CAHNGES IN THE COPIED OBJECT DOESNT AFFECT ORIGINAL OBJECT)
from copy import deepcopy

list2=deepcopy(list1)
list2[1][1]=6
print(list1)
print(list2)

In [ ]:
##ASSERTION
##STATEMENT WHICH TEST THE TRUENESS OF A CONDTION IN A PIECE OF CODE
##BOOLEN EXPRESSION THAT CONFIRMS THE BOOLEAN OUTPUT OF A CONDTION
##A NICE DEBUGGING TOOL TO DEAL WITH UNRECVARABLE ERROR AND USED TO CATCH ANY FALSE ASSUMPTION THAT WE MADE
##ALWAYS WANTS TOO SEE TRUE IF FALSE IT THROWS AN ERROR IN SUCH CASE WE CAN ABLE TO DISPLAY THE ERROR WE HAVE MADE 
print(2==3)

In [ ]:
def div(a,b):
    assert b!=0, 'you cannot divide a number by zero'
    return (a/b)

In [ ]:
div(3,2)

In [ ]:
div(3,0)

In [ ]:
from pprint import pprint
a=[(1,(3,4,6)),{1:'bharath',2:'raj'},[2,4,5],'vetrivel',(2,4)]
print(a)
pprint(a)

# METHOD CLASS OBJECT

In [ ]:
##A METHOD IS A PIECE OF CODE TO EXECUTE ON AN OBJECT
##A CLASS IS AN ABSTRACT DATA TYPE,A BLUEPRINT
##A OBJECT IS A INSTANCE OF CLASS AND HAVE ITS OWN PROPERTIES AND BEHAVIOUR

In [ ]:
##METHOD IS LIKE A FUNCTION BUT iN A CLASS AND MUST BE CALLED TO AN OBJECT WHICH CAN BE ALTERED..
##MAY TAKE ARGUMENTS AND HAVE A RETURN FUNCTION

In [ ]:
class ANIMAL:
    def __init__(self,species,gender):
        self.species=species
        self.gender=gender
        
    def sound(self):
            print('urr')
        
fluffy =ANIMAL('rare','male')
fluffy.species
##self -it tells the interpretor to deal with current object

In [ ]:
fluffy.sound()

In [ ]:
##INHERITANCE

#SINGLE INHERITANCE:(A CALSS DERIVED FROM ONE BASE CLASS)
class person:
    pass
class student(person):
    pass

#MULTIPLE INHERITANCE(A CLASS DERIBED FROM MORE THAN ONE BASE CLASS)
class person:
    pass
class person1:
    pass
class per(person,person1):
    pass

#MULTILEVEL INHERITANCE(A CLASS DERIVED FROM ONE CLASS AND OTHER CLASS IS DERIVED FROM THAT DERIVED CLASS)
class person:
    pass
class person1(person):
    pass
class person2(person1):
    pass

#HIERARCHICAL INHERITANCE(MULTIPLE CLASS DERIVED FROM SINGLE BASS CLASS)
class person:
    pass
class person1(person):
    pass
class person2(person):
    pass

#HYBRID INHERITANCE(COMBINATION OF DIFFERENT TYPES OF INHERITANCE)


#SUPER() FUNCTION -TO REFER TO THE PARENT CLASS TO CALL A METHOD

##METHOD OVERRIDING - A SUBCLASS MAY REDIFINE THE FUNCTIONALITY OF A METHOD IN A SUPER CLASS
##METHOD OVERLOADING - PYTHON DOESNOT SUPPORT

In [ ]:
##GENERATOR
#IT LENDS US A SEQUENCE OF VALUES TO ITERATE ON(yield keyword is used)

def one(num):
    while(num!=0):
        if num%2==0:
            yield num
        num=num-1

In [ ]:
for item in one(16):
    print(item)

In [ ]:
##ITERATOR(TRAVERSE OVER AN ITERABLE,ONE AT A TIME)
itr_obj =iter([1,3,5,6])
print(next(itr_obj))
print(next(itr_obj))
print(next(itr_obj))

# READ AND WRITE A FILE

In [ ]:
##OPEN A FILE IN READ MODE
todo =open('bharath.txt','r+')

In [ ]:
##READ THE FIRST FIVE LETTERS IN A FILE
todo.read(5)

In [ ]:
##READ THE FIRST line
todo.readline()

In [ ]:
##READ AN ENTIRE FILE
todo.read()

In [ ]:
##ANOTHER METHOD TO OPEN A FILE
with open('bharath.txt')as todo:
     todo.read()

In [ ]:
##TO MOVE THE REQUIRED LETTER IN A FILE AND READ FROM THAT LETTER
todo.seek(0) #to move back to first text
todo.seek(2)

In [ ]:
todo.read()

In [ ]:
todo.seek(0)
for line in todo:
    print(line,end="")

In [ ]:
##TO CLOSE THE FILE
todo.close()

In [ ]:
##TO ADD WORDS TO THE FILE
todo=open('bharath.txt','a')
todo.write('iam a algo maker')

In [78]:
todo =open('bharath.txt','r')

In [79]:
todo.read()

'iam bharath \niam a professional trader\niam a passionate cricketeriam a algo makeriam a algo makeriam a algo maker'

In [81]:
##GETTNG THE DIRECTORY

import os
print(os.getcwd())

##USED TO DISPLAY THE FILES IN THE DIRECTORY
os.listdir()

##USED TO CHANGE DIRECTORY
os.chdir()

C:\Users\t

['.conda',
 '.condarc',
 '.continuum',
 '.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.matplotlib',
 '3D Objects',
 'anaconda3',
 'AppData',
 'Application Data',
 'bharath.txt',
 'calculator.py.txt',
 'Contacts',
 'Cookies',
 'covid_19_india.csv',
 'DATA_FLAIR_PYTHON.ipynb',
 'Data_structures_udemy.ipynb',
 'Decision_Tree.ipynb',
 'Desktop',
 'diabetes.csv',
 'Documents',
 'Downloads',
 'Favorites',
 'IntelGraphicsProfiles',
 'Iris.csv',
 'LINEAR_REGRESSION.ipynb',
 'Links',
 'Local Settings',
 'LOOPS.ipynb',
 'modified_df.csv',
 'modified_df.json',
 'modified_df.tsv',
 'modified_df.xlsx',
 'Music',
 'My Documents',
 'Naive_bayers.ipynb',
 'NetHood',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{5da67a58-4bc4-11ed-bb9f-002315f65747}.TM.blf',
 'NTUSER.DAT{5da67a58-4bc4-11ed-bb9f-002315f65747}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{5da67a58-4bc4-11ed-bb9f-002315f65747}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'NUMPY_PYTHON.ipynb',
 'OneDrive',
 'pandas_aggregate.ipynb',
 'pandas_append.ipynb',
 'Pandas_csv.ipynb',
 'pandas_demo1.ipynb',
 'PANDAS_PYTHON_2023.ipynb',
 'Pictures',
 'pie_plot_pandas.ipynb',
 'plot.png',
 'PrintHood',
 'PYTHON_ALL_NOTES.ipynb',
 'Python_learn_2022.ipynb',
 'Python_matplotlib.ipynb',
 'Random_forest.ipynb',
 'Recent',
 'Saved Games',
 'seaborn-data',
 'Searches',
 'Sea_born_plot.ipynb',
 'SendTo',
 'Social_Network_Ads.csv',
 'Start Menu',
 'STATISTICS.ipynb',
 'Strings_python.ipynb',
 'SUPPORT VECTOR.ipynb',
 'survey_results_public.csv',
 'survey_results_schema.csv',
 'Templates',
 'Untitled Folder',
 'Untitled Folder 1',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Untitled10.ipynb',
 'Untitled2.ipynb',
 'Untitled3.ipynb',
 'Untitled4.ipynb',
 'Untitled5.ipynb',
 'Untitled6.ipynb',
 'Untitled7.ipynb',
 'Untitled8.ipynb',
 'Untitled9.ipynb',
 'Videos',
 'WebComponents']

In [91]:
##USED TO CREATE A DIRECTORY
os.mkdir('bharath_raj')

FileExistsError: [WinError 183] Cannot create a file when that file already exists: 'bharath_raj'

In [90]:
os.listdir()

['.conda',
 '.condarc',
 '.continuum',
 '.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.matplotlib',
 '3D Objects',
 'anaconda3',
 'AppData',
 'Application Data',
 'bharath.txt',
 'bharath_raj',
 'calculator.py.txt',
 'Contacts',
 'Cookies',
 'covid_19_india.csv',
 'DATA_FLAIR_PYTHON.ipynb',
 'Data_structures_udemy.ipynb',
 'Decision_Tree.ipynb',
 'Desktop',
 'diabetes.csv',
 'Documents',
 'Downloads',
 'Favorites',
 'IntelGraphicsProfiles',
 'Iris.csv',
 'LINEAR_REGRESSION.ipynb',
 'Links',
 'Local Settings',
 'LOOPS.ipynb',
 'modified_df.csv',
 'modified_df.json',
 'modified_df.tsv',
 'modified_df.xlsx',
 'Music',
 'My Documents',
 'Naive_bayers.ipynb',
 'NetHood',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{5da67a58-4bc4-11ed-bb9f-002315f65747}.TM.blf',
 'NTUSER.DAT{5da67a58-4bc4-11ed-bb9f-002315f65747}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{5da67a58-4bc4-11ed-bb9f-002315f65747}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'NUMPY_PYTHON.ipynb',
 'OneDrive',
 'pandas_aggregate.ipynb',
 'pandas_append.ipynb',
 'Pandas_csv.ipynb',
 'pandas_demo1.ipynb',
 'PANDAS_PYTHON_2023.ipynb',
 'Pictures',
 'pie_plot_pandas.ipynb',
 'plot.png',
 'PrintHood',
 'PYTHON_ALL_NOTES.ipynb',
 'Python_learn_2022.ipynb',
 'Python_matplotlib.ipynb',
 'Random_forest.ipynb',
 'Recent',
 'Saved Games',
 'seaborn-data',
 'Searches',
 'Sea_born_plot.ipynb',
 'SendTo',
 'Social_Network_Ads.csv',
 'Start Menu',
 'STATISTICS.ipynb',
 'Strings_python.ipynb',
 'SUPPORT VECTOR.ipynb',
 'survey_results_public.csv',
 'survey_results_schema.csv',
 'Templates',
 'Untitled Folder',
 'Untitled Folder 1',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Untitled10.ipynb',
 'Untitled2.ipynb',
 'Untitled3.ipynb',
 'Untitled4.ipynb',
 'Untitled5.ipynb',
 'Untitled6.ipynb',
 'Untitled7.ipynb',
 'Untitled8.ipynb',
 'Untitled9.ipynb',
 'Videos',
 'WebComponents']

In [92]:
os.rename('bharath_raj','esawr')

In [93]:
os.listdir()

['.conda',
 '.condarc',
 '.continuum',
 '.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.matplotlib',
 '3D Objects',
 'anaconda3',
 'AppData',
 'Application Data',
 'bharath.txt',
 'calculator.py.txt',
 'Contacts',
 'Cookies',
 'covid_19_india.csv',
 'DATA_FLAIR_PYTHON.ipynb',
 'Data_structures_udemy.ipynb',
 'Decision_Tree.ipynb',
 'Desktop',
 'diabetes.csv',
 'Documents',
 'Downloads',
 'esawr',
 'Favorites',
 'IntelGraphicsProfiles',
 'Iris.csv',
 'LINEAR_REGRESSION.ipynb',
 'Links',
 'Local Settings',
 'LOOPS.ipynb',
 'modified_df.csv',
 'modified_df.json',
 'modified_df.tsv',
 'modified_df.xlsx',
 'Music',
 'My Documents',
 'Naive_bayers.ipynb',
 'NetHood',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{5da67a58-4bc4-11ed-bb9f-002315f65747}.TM.blf',
 'NTUSER.DAT{5da67a58-4bc4-11ed-bb9f-002315f65747}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{5da67a58-4bc4-11ed-bb9f-002315f65747}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'NUMPY_PYTHON.ipynb',
 'OneDrive',
 'pandas_aggregate.ipynb',
 'pandas_append.ipynb',
 'Pandas_csv.ipynb',
 'pandas_demo1.ipynb',
 'PANDAS_PYTHON_2023.ipynb',
 'Pictures',
 'pie_plot_pandas.ipynb',
 'plot.png',
 'PrintHood',
 'PYTHON_ALL_NOTES.ipynb',
 'Python_learn_2022.ipynb',
 'Python_matplotlib.ipynb',
 'Random_forest.ipynb',
 'Recent',
 'Saved Games',
 'seaborn-data',
 'Searches',
 'Sea_born_plot.ipynb',
 'SendTo',
 'Social_Network_Ads.csv',
 'Start Menu',
 'STATISTICS.ipynb',
 'Strings_python.ipynb',
 'SUPPORT VECTOR.ipynb',
 'survey_results_public.csv',
 'survey_results_schema.csv',
 'Templates',
 'Untitled Folder',
 'Untitled Folder 1',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Untitled10.ipynb',
 'Untitled2.ipynb',
 'Untitled3.ipynb',
 'Untitled4.ipynb',
 'Untitled5.ipynb',
 'Untitled6.ipynb',
 'Untitled7.ipynb',
 'Untitled8.ipynb',
 'Untitled9.ipynb',
 'Videos',
 'WebComponents']

In [94]:
os.rmdir('eswar')

FileNotFoundError: [WinError 2] The system cannot find the file specified: 'eswar'

In [ ]:
##SHUTIL MODULE
##HIGH LEVEL OPERATIONS ON FILES AND COLLECTION OF FILES AND IT HA FUNCTION LIKE COP,REMOVE ETC...

##ZIPFILE(TOOLS FOR CREATING,WRITING,APPENDING AND LISTING OUT ZIP FILES)
##ZipFile(read and write zip files)
##PyZipFile(creating zip archives holding python library)
##ZipInfo(represents information about member of an archive)


##UNIT TESTING(TESTING INDIVIDUAL UNITS OF CODE)

# PYTHON LIBRARIES

In [ ]:
##XML(EXTENSIBLE MARKUP LANGUAGE)
#ENCODES DOCUMENTS BY DEFINING A SET OF RULE IN A FORMAT BOTH HUMAN AND MACHINE READABLE

##XML PARSEL APIS(SAX(SIMPLE API FOR XML-EVEN DRIVEN ONLINE ALGORITHM) 
                #DOM(DOCUMENT OBJECT MODEL API-FASTER FOR LARGER FILES))
    
    
##SMTP(SIMPLE MAIL TRANSFER PROTOCAL)
##APPLICATION LAYER PUSH PROTOCAL FOR SENDING AND RECEIVING MAILS
##import smtplib for sending mails